.custom-modal {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  .modal-dialog {
    width: 100%;
    height: 100%;
    text-align: center;

    .modal-header {
      border: none;
      .modal-title {
        width: 100%;
        font-size: 18px;
      }
    }
    .modal-footer {
      width: 100%;
      display: flex;
      justify-content: center;
      border: none;
    }
  }

  .title {
    white-space: nowrap;
    padding: 5px;
    font-size: 18px;
  }

  .footer-container {
    display: flex;
    justify-content: center;
  }
}
