.Input {
  width: 100%;
  text-align: center;
  background: none;
  color: inherit;
  font: inherit;
  cursor: default;
  outline: inherit;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  label {
    white-space: nowrap;
    width: calc(100% - var(--inputWidth));
    margin-right: 5px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input {
    width: var(--inputWidth);
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 8px;
    justify-content: flex-end;
  }
}
