$color: rgb(223, 223, 223); //#f3ece0
$highlight-color: lightblue;

.ant-segmented {
  border: 1px solid lightgrey !important;
  border-radius: 0 !important;

  background-color: $color !important;
}

.ant-segmented-item {
  transition: $highlight-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.ant-segmented-item-selected {
  background-color: $highlight-color !important;
}

.ant-segmented-thumb {
  background-color: $highlight-color !important;
}
