.about-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .documentation-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      // text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }

  .download-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      // text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }
}
