.search-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-panel-container-inner {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .peak-list-input-container {
      width: 100%;
      height: calc(100% - 50px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .reference-spectra-list-input-container {
      width: 100%;
      height: calc(100% - 50px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .search-panel-submit-button-container {
      width: 100%;
      height: 50px;
    }

    .error-label {
      color: red;
      text-align: center;
      font-weight: bold;
    }
  }
}
