.spectra-view-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spectra-view-carousel {
  width: 100%;
  height: 100%;

  .react-multiple-carousel__arrow {
    position: absolute;
  }

  .react-multiple-carousel__arrow--left {
    width: 45px;
    left: 5px;
  }

  .react-multiple-carousel__arrow--right {
    width: 45px;
    right: 5px;
  }
}
