
MB3_API_PORT=8081
MB3_API_HOST=localhost
MB3_FRONTEND_PORT=8080

DB_TYPE=postgres
DB_PORT=5432
DB_USER=massbank3
DB_PASSWORD=massbank3password
DB_HOST=postgres
DB_NAME=massbank3
DB_CONN_STRING=""

MB_GIT_REPO="https://github.com/MassBank/MassBank-data"
MB_GIT_BRANCH=main
MB_DATA_DIRECTORY=""
MB_DROP_ALL=true

SERVER_PORT=8080
CDKDEPICT_URL="http://cdkdepict:8080"
