$link-symbol-width: 30px;
$link-symbol-height: 30px;

.link-container {
  width: $link-symbol-width;
  height: $link-symbol-height;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    width: $link-symbol-width;
    height: $link-symbol-height;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  a:link {
    color: blue;
  }
  a:visited {
    color: blue;
  }
  a:hover {
    color: blue;
  }
  a:focus {
    color: blue;
  }
  a:active {
    color: blue;
  }
}
