.ant-tree {
  background-color: transparent !important;

  .ant-tree-node-content-wrapper {
    background-color: transparent !important;
  }
  .ant-tree-node-content-wrapper:hover {
    background-color: rgb(239, 249, 254) !important;
  }
}
