{
  "env": { "browser": true, "node": true },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "react"],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "no-undef": "off",
    "no-console": "warn",
    "no-unused-vars": "warn"
  }
}
