volumes:
  massbank-pgdata:
  bingo-postgres:

services:
  bingo-init:
    platform: linux/amd64
    image: quay.io/massbank/postgres-bingo-init:v17-bingo-1.36.0
    command: /bin/sh -c "cp -rp /bingo-postgres/* /opt/bingo-postgres/"
    volumes:
      - "bingo-postgres:/opt/bingo-postgres"
  postgres:
    platform: linux/amd64
    image: postgres:17
    pull_policy: always
    restart: unless-stopped
#    ports:
#      - "${DB_PORT}:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      DB_NAME_EXPORT_SERVICE: ${DB_NAME_EXPORT_SERVICE}
    volumes:
      - "massbank-pgdata:/var/lib/postgresql/data"
      - "bingo-postgres:/opt/bingo-postgres"
      - "./initdb.d/000_bingo_install.sh:/docker-entrypoint-initdb.d/000_bingo_install.sh"
      - "./initdb.d/00_init_ALLOW_NON_UNIQUE_DEAROMATIZATION.sh:/docker-entrypoint-initdb.d/00_init_ALLOW_NON_UNIQUE_DEAROMATIZATION.sh"
      - "./initdb.d/init_export-service_db.sh:/docker-entrypoint-initdb.d/init_export-service_db.sh"
    depends_on:
      bingo-init:
        condition: service_completed_successfully
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready",
          "-d",
          "$$POSTGRES_DB",
          "-U",
          "$$POSTGRES_USER",
        ]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 40s

  mb3server:
    image: quay.io/massbank/massbank-api:latest
    pull_policy: always
    build:
      context: ..
      dockerfile: Dockerfile-server
    restart: unless-stopped
    ports:
      - "${MB3_API_PORT}:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_PORT: 5432
      DB_HOST: postgres
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      MB3_SERVER_PORT: 8080
      SIMILARITY_SERVICE_COSINE_URL: http://similarity-service:8080${SIMILARITY_SERVICE_BASE_URL}
      EXPORT_SERVICE_URL: http://export-service:8080      
      MB3_API_URL: http://${MB3_API_HOST}:${MB3_API_PORT}
      MB3_API_BASE_URL: ${MB3_API_BASE_URL}

  similarity-service:
    platform: linux/amd64
    image: quay.io/massbank/massbank-similarity-api:latest
    pull_policy: always
    restart: unless-stopped
    environment:
      DATA_DIR: "/MassBank-data"
      VERBOSE: false
      CONTEXT_PATH: ${SIMILARITY_SERVICE_BASE_URL}
    volumes:
      - "${MB_DATA_DIRECTORY}:/MassBank-data:ro"
    deploy:
      replicas: 2

  nginx:
    image: nginx:latest
    pull_policy: always
    restart: unless-stopped
    ports:
      - "${SIMILARITY_SERVICE_PORT}:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - similarity-service

  export-service:
    platform: linux/amd64
    image: quay.io/massbank/massbank-export-api:latest
    pull_policy: always
    restart: unless-stopped
    ports:
      - "${EXPORT_SERVICE_PORT}:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_PORT: 5432
      DB_HOST: postgres
      DB_NAME: ${DB_NAME_EXPORT_SERVICE}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      MB_DATA_DIRECTORY: "/MassBank-data"
      CONTEXT_PATH: ${EXPORT_SERVICE_BASE_URL}
      CORS_ALLOWED_ORIGINS: ${EXPORT_SERVICE_CORS_ALLOWED_ORIGINS} 
    volumes:
      - "${MB_DATA_DIRECTORY}:/MassBank-data:ro"

  mb3frontend:
    image: quay.io/massbank/massbank-frontend:latest
    pull_policy: always
    build:
      context: ../web-frontend
      dockerfile: Dockerfile-frontend
    restart: unless-stopped
    environment:
      MB3_API_URL: "${MB3_API_URL}"
      MB3_API_URL_INTERNAL: "http://mb3server:8080${MB3_API_BASE_URL}"
      MB3_FRONTEND_URL: "http://${MB3_FRONTEND_HOST}:${MB3_FRONTEND_PORT}"
      MB3_FRONTEND_BASE_URL: "${MB3_FRONTEND_BASE_URL}"
      EXPORT_SERVICE_URL: "${EXPORT_SERVICE_URL}"
      EXPORT_SERVICE_URL_INTERNAL: "http://export-service:8080"
      HTML_HEAD_FILE: "${HTML_HEAD_FILE}"
      HTML_BODY_FILE: "${HTML_BODY_FILE}"
      DISTRIBUTOR_TEXT: "${DISTRIBUTOR_TEXT}"
      DISTRIBUTOR_URL: "${DISTRIBUTOR_URL}"
      MB3_FRONTEND_BROWSER_TAB_TITLE: "${MB3_FRONTEND_BROWSER_TAB_TITLE}"
      MB3_FRONTEND_HOMEPAGE_INTRO_TEXT: "${MB3_FRONTEND_HOMEPAGE_INTRO_TEXT}"
      MB3_FRONTEND_HOMEPAGE_NEWS_SECTION_TEXT: "${MB3_FRONTEND_HOMEPAGE_NEWS_SECTION_TEXT}"
      MB3_FRONTEND_HOMEPAGE_FUNDING_SECTION_TEXT: "${MB3_FRONTEND_HOMEPAGE_FUNDING_SECTION_TEXT}"
      MB3_FRONTEND_HOMEPAGE_ADDITIONAL_SECTION_NAME: "${MB3_FRONTEND_HOMEPAGE_ADDITIONAL_SECTION_NAME}"
      MB3_FRONTEND_HOMEPAGE_ADDITIONAL_SECTION_TEXT: "${MB3_FRONTEND_HOMEPAGE_ADDITIONAL_SECTION_TEXT}"
    ports:
      - "${MB3_FRONTEND_PORT}:3000"
    # volumes:
    #   - "${HTML_LOCAL_DIR}:/app/analytics-html"

  mb3tool:
    image: quay.io/massbank/massbank-dbtool:latest
    pull_policy: always
    build:
      context: ..
      dockerfile: Dockerfile-dbtool
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_PORT: 5432
      DB_HOST: postgres
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      MB_DB_INIT: ${MB_DB_INIT}
      MB_GIT_REPO: ""
      MB_GIT_BRANCH: "main"
      MB_DATA_DIRECTORY: "/MassBank-data"
    volumes:
      - "${MB_DATA_DIRECTORY}:/MassBank-data:ro"
