############################
# Massbank 3 configuration #
############################

# ----------------------
# Database configuration
# ----------------------

# The port of the database
DB_PORT=5432

# The database user name
DB_USER=massbank3

# The database password
DB_PASSWORD=massbank3password

# The database host name
DB_HOST=postgres

# The name of the database
DB_NAME=massbank3


# --------------------
# Server configuration
# --------------------

# The port where the API is exposed for frontend and application usage
MB3_API_PORT=8081

# The port used internally by the server
MB3_SERVER_PORT=8080

# ------------------------------
# Similarity microservice cosine
# ------------------------------

# The port where the similarity service is exposed
SIMILARITY_SERVICE_COSINE_PORT=8082

# ----------------------
# Frontend configuration
# ----------------------

# The host where the API is running
MB3_API_HOST=localhost

# The host where the frontend is running
MB3_FRONTEND_HOST=localhost

# The Port where the frontend ist exposed
MB3_FRONTEND_PORT=8080

# The base URL
MB3_FRONTEND_BASE_URL=/MassBank3/


# ---------------------------
# Massbank-data configuration
# ---------------------------

# Only run the massbank data initialization if set to true
MB_DB_INIT=true

# The repo where to load massbank data from
MB_GIT_REPO="https://github.com/MassBank/MassBank-data"

# The git branch of the massbank data repo
MB_GIT_BRANCH=main

# A directory where the massbank data is stored. If set, this will tried first before getting data from git.
MB_DATA_DIRECTORY=""

# Set to true to clear the database before filling with new data, otherwise data is upserted.
MB_DROP_ALL=true

