############################
# Massbank 3 configuration #
############################

# ----------------------
# Database configuration
# ----------------------

# The port of the database
DB_PORT=5432

# The database user name
DB_USER=massbank3

# The database password
DB_PASSWORD=massbank3password

# The database host name
DB_HOST=postgres

# The name of the database
DB_NAME=massbank3

# Path to postgres data directory
DB_LOCAL_PATH=./postgres-data

# --------------------
# Server configuration
# --------------------

# The port where the API is exposed for frontend and application usage
MB3_API_PORT=8081

# The port used internally by the server
MB3_SERVER_PORT=8080

# The host used internally by the server
MB3_SERVER_HOST=mb3server

# ------------------------------
# Similarity microservice cosine
# ------------------------------

# The port where the similarity service is exposed
SIMILARITY_SERVICE_PORT=8082

# The path to the volume to store, e.g. "/MassBank_volume"
MSP_LOCAL_PATH=/MassBank_volume

# The filename of MassBank MSP file
MSP=/MassBank_NIST.msp

# Make the similarity service more verbose
SIMILARITY_SERVICE_VERBOSE=false

# ------------------------------
# Export service
# ------------------------------

# The port where the similarity service is exposed
EXPORT_SERVICE_PORT=8083

# The MassBank-data repository path
EXPORT_MB_DATA_DIRECTORY=/MassBank-data

# The port used internally by the export-service
EXPORT_SERVICE_PORT_INTERNAL=8080

# The host used internally by the export-service
EXPORT_SERVICE_HOST_INTERNAL=export-service

# ----------------------
# Frontend configuration
# ----------------------

# The host where the API is running
MB3_API_HOST=localhost

# The host where the frontend is running
MB3_FRONTEND_HOST=localhost

# The Port where the frontend ist exposed
MB3_FRONTEND_PORT=8080

# The base URL
MB3_FRONTEND_BASE_URL=/MassBank3/

# The version of the frontend
MB3_FRONTEND_VERSION=0.4.0 (beta)


# ---------------------------
# Massbank-data configuration
# ---------------------------

# Only run the massbank data initialization if set to true
MB_DB_INIT=true

# The repo where to load massbank data from
MB_GIT_REPO="https://github.com/MassBank/MassBank-data"

# The git branch of the massbank data repo
MB_GIT_BRANCH=main

# A directory where the massbank data is stored. If set, this will tried first before getting data from git.
MB_DATA_DIRECTORY=""


# ---------------------------
# Google Search Control
# ---------------------------

GOOGLE_SEARCH_CONSOLE_KEY=...