.InfoTable {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: block;

  table {
    border-spacing: 0;
    border: 1px solid #dedede;
    width: 100%;
    height: 100%;
  }

  thead tr {
    background-color: white !important;
  }

  th {
    background-color: white;
  }

  th,
  td {
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.4rem;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;

    button {
      background-color: transparent;
      border: none;
    }
  }

  .structure-spectrum-view {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
