.peak-table {
  user-select: none;
  overflow: scroll;

  .ant-table-thead > tr > th {
    background-color: rgb(230, 230, 230) !important;
  }

  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
  }

  .table-row-highlight {
    background-color: rgb(223, 243, 250) !important;
  }
}
