.peak-search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: scroll;

  .peak-search-table {
    width: 100%;
    height: 100%;

    text-align: center;
  }

  .peak-search-settings-containter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      width: 250px;
      margin-left: 20px;
    }
    input {
      width: 100px;
      margin-right: 20px;
    }
  }
}
