.search-panel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .collapse-button-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: lightgrey;

    .Button {
      margin-left: 10px;
    }
  }

  .sidebar {
    .input-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .error-label {
      color: red;
      text-align: center;
      font-weight: bold;
      margin: 0;
    }

    .menu {
      .submenu {
        background-color: linen;
      }
    }

    .basic-search-input-container {
      width: 100%;
      height: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .input-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .search-button-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightskyblue;

    .submit-input {
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: transparent;
      color: inherit;

      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
  }
}
